* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    height: 100%;
    width: 100%;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 85%;
    margin: 0 auto;
    background-color: #FFF;
    margin-top: 24px;
    padding: 5px;
}

.logo {
    width: 139px;
    height: 60px;
    cursor: pointer;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}
li{
    list-style: none;
}

nav ul li a {
    color: black;


}

a {
    text-decoration: none;
    color: white;

}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    background-color: #469165;
    color: #FFF;
    padding: 12px 16px;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border-radius: 4px;

}

.btn:hover {
    box-shadow: 0 0 10px #30b869cc;
}

/* Main section */
main {

    background-image: url("./assets/hero-bg.png");
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    color: #FFF;
    padding: 50px;
}

main .round_shape {

    color: #30B868;
    padding: 8px 12px;
    background-color: #FFF;
    border-radius: 20px;
    display: inline-block;
}


.play_button{
    
    
    color: rgb(255, 255, 255);
}
main .hero_text {
    font-size: 72px;
    text-transform: capitalize;
    margin-bottom: 16px;
    text-shadow: 0 4px 4px rgb(34, 32, 32);
}

main .hero_text .highlited_text {
    color: #30B868;
    line-height: 84px;
}

main .hero_para {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.btn2 {
    border: 1px solid #FFF;
    border-radius: 4px;
    padding: 10px 12px;
    background-color: transparent;
    margin-left: 16px;
    font-weight: 600;
   
}

.button_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.green_circle{
    width: 15px;
    
}
.note{
    text-align: center;
    max-width: 1600px;
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 120px;
}

.note h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    
}

.note .sub_heading{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}


.card{
    background-color: #FFF;
    box-shadow: 0 0 8px 0 rgba(208, 208, 208, 0.898);
    padding: 24px;
    border-radius: 8px;

}

.card img{
    background-color: #F95555;
    padding: 7px;
    border-radius: 50%;
    width: 40px;
    margin-bottom: 16px;
    
}

.card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.card p{
    color: #627382;
}

.card_container{
    display: flex;
    gap: 24px;
}


/* brain section */

.brain{
    display: flex;
    max-width: 1600px;
    width: 85%;
    margin: 0 auto;
    
}

.brain .left_brain{
    width: 600px;
    
}

.brain .right_brain{
    padding: 101px;
}

.brain .right_brain .sub_heading{
    text-transform: uppercase;
    color: #30B868;
    margin-bottom: 16px;
}

.brain .right_brain h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.brain .right_brain .personal_para{
    color: #627382;
    margin-bottom: 40px;
}

.brain .right_brain ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.brain .right_brain ul li{
    display: flex;
    gap: 6px;
    align-items: flex-start;
}

/* early access section */
.early_access{
    max-width: 1600px;
    width: 85%;
    margin: 0 auto;
    background-color: #F7F6F2;
    padding: 80px 40px;
    text-align: center;
    margin-bottom: 120px;
    margin-top: 120px;

}

.early_access h2{
    color: #001931;
    font-size: 40px;
    margin-bottom: 16px;
}

.early_access p{
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}

.early_access .bottom_para{
    margin-top: 16px;
    margin-bottom: 0;
}


footer{
    padding: 120px 120px 30px 120px;
    background-color: #001931;
    color: #FFF;
}

footer .upper_footer{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(61, 61, 61);
    padding-bottom: 80px;
}


footer .upper_footer .right_upper_footer ul{
    display: flex;
    gap: 16px;
    
}

footer .lower_footer{
    margin-top: 30px;
    text-align: center;
}

.icon{
    margin-top: 16px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    padding: 3px;
    line-height: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}