* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    height: 100%;
    width: 100%;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 85%;
    margin: 0 auto;
    background-color: #FFF;
    margin-top: 24px;
    padding: 5px;
}

.logo {
    width: 139px;
    height: 60px;
    cursor: pointer;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul li a {
    color: black;


}

a {
    text-decoration: none;
    color: white;

}

.btn {
    background-color: #469165;
    color: #FFF;
    padding: 12px 16px;
    border: none;
    font-weight: 600px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in;

}

.btn:hover {
    box-shadow: 0 0 10px #30b869cc;
}

/* Main section */
main {

    background-image: url("./assets/hero-bg.png");
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    color: #FFF;
    padding: 50px;
}

main .round_shape {

    color: #30B868;
    padding: 8px 12px;
    background-color: #FFF;
    border-radius: 20px;
    display: inline-block;
}

main .hero_text {
    font-size: 72px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

main .hero_text .highlited_text {
    color: #30B868;
    line-height: 84px;
}

main .hero_para {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.btn2 {
    border: 1px solid #FFF;
    border-radius: 4px;
    padding: 12px 16px;
    background-color: transparent;
    margin-left: 16px;
    font-weight: 600;
}