
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    height: 100%;
    width: 100%;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 85%;
    margin: 0 auto;
    background-color: #FFF;
    margin-top: 24px;
    padding: 5px;
}

.logo{
    width: 139px;
    height: 60px;
    cursor: pointer;
    
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul li a{
    color: black;
    
    
}

a{
    text-decoration: none;
    
}

.btn{
    background-color: #469165;
    color: #FFF;
    padding: 16px 12px;
    border: none;
    font-weight: 600px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in;

}

.btn:hover{
    box-shadow: 0 0 10px  #30b869cc;
}